{% extends "base.html" %}

{% macro document_function(member) %}
    <dt>{{ member.name }}(
    {% for arg in member.arguments %}
        {% if arg.name %}{{ arg.name }}: {% endif %}{{ member|link_tag(arg.tag) }}{% if not loop.last %}, {% endif %}
    {% endfor %}
    )
    {% if member.return_type %}
        -> {{ member|link_tag(member.return_type) }}
    {% endif %}
    </dt>
    <dd>{{ member|markdown_doc }}</dd>
{% endmacro %}

{% macro document_classlike(node) %}
    <dt>{{ node.name }}</dt>
    <dd><dl>
    {% for member in node.members.itervalues() %}
        {{ document_node(member) }}
    {% endfor %}
    </dl></dd>
{% endmacro %}

{% macro document_node(node) %}
    <a name="{{ node|anchor }}" />
    {% if node is node('module', 'class', 'cover', 'interface') %}
        {{ document_classlike(node) }}
    {% elif node is node('function') %}
        {{ document_function(node) }}
    {% endif %}
{% endmacro %}

{% block title %}
    {{ module.path }}
{% endblock %}

{% block contents %}
    <dl>{{ document_node(module) }}</dl>
{% endblock %}
